{{ ansible_managed | comment }}

{% if site.http_enabled | default(nginx_vhost_http_enabled) %}
server {
	listen 80{% if site.default_server | default(false) %} default_server{% endif %};
	listen [::]:80{% if site.default_server | default(false) %} default_server{% endif %};
    
	server_name {{ name }}{% for alias in site.aliases | default(nginx_vhost_serveraliases) %} {{ alias }}{% endfor %};

{% if site.http_redirect_to_https | default(nginx_vhost_http_redirect_to_https) %}
	location / {
		return 301 https://$host$request_uri;
	}

{% else %}
	root {{ site.documentroot | default(nginx_vhost_documentroot) }};

{% if site.php_proxy is defined %}
	location ~ \.php$ {
		fastcgi_split_path_info ^(.+\.php)(/.+)$;
		fastcgi_pass {{ site.php_proxy }};
		fastcgi_index index.php;
		include fastcgi_params;
	}
{% endif %}

	{{ site.additional_config | indent(4) }}

{% endif %}

}
{% endif %}


{% if site.https_enabled | default(nginx_vhost_https_enabled) %}
server {
	listen 443 ssl http2{% if site.default_server | default(false) %} default_server{% endif %};
	listen [::]:443 ssl http2{% if site.default_server | default(false) %} default_server{% endif %};

	server_name {{ name }}{% for alias in site.aliases | default(nginx_vhost_serveraliases) %} {{ alias }}{% endfor %};

{% if certfile_exists and keyfile_exists %}
	ssl_certificate      {{ site.tls_certfile | default(nginx_tls_certfile) }};
	ssl_certificate_key  {{ site.tls_keyfile | default(nginx_tls_keyfile) }};
{% else %}
	ssl_certificate      {{ nginx_tls_noacme_fallback_certfile }};
	ssl_certificate_key  {{ nginx_tls_noacme_fallback_keyfile }};
{% endif %}
	ssl_session_timeout 1d;
	ssl_session_cache shared:MozSSL:10m;  # about 40000 sessions
	ssl_session_tickets off;

	root {{ site.documentroot | default(nginx_vhost_documentroot) }};

{% if site.php_proxy is defined %}
	location ~ \.php$ {
		fastcgi_split_path_info ^(.+\.php)(/.+)$;
		fastcgi_pass {{ site.php_proxy }};
		fastcgi_index index.php;
		include fastcgi_params;
	}
{% endif %}

	{{ site.additional_config | indent(4) }}

}
{% endif %}
