{{ ansible_managed | comment }}

{% if site.http_enabled | default(apache2_vhost_http_enabled) %}
<VirtualHost *:80>

    ServerAdmin {{ site.serveradmin | default(apache2_vhost_serveradmin) }}
    ServerName {{ name }}
{% for alias in site.aliases | default(apache2_vhost_serveraliases) %}
    ServerAlias {{ alias }}
{% endfor %}

    LogLevel {{ site.loglevel | default(apache2_vhost_loglevel) }}
    ErrorLog {{ site.errorlog | default(apache2_vhost_errorlog) }}
    CustomLog {{ site.accesslog | default(apache2_vhost_accesslog) }}

{% if site.http_redirect_to_https | default(apache2_vhost_http_redirect_to_https) %}
    Redirect permanent / https://{{ name }}/

{% else %}
    DocumentRoot {{ site.documentroot | default(apache2_vhost_documentroot) }}

    {{ site.additional_config | indent(4) }}

{% endif %}

</VirtualHost>
{% endif %}


{% if site.https_enabled | default(apache2_vhost_https_enabled) %}
<VirtualHost *:443>

    ServerAdmin {{ site.serveradmin | default(apache2_vhost_serveradmin) }}
    ServerName {{ name }}
{% for alias in site.aliases | default(apache2_vhost_serveraliases) %}
    ServerAlias {{ alias }}
{% endfor %}

    LogLevel {{ site.loglevel | default(apache2_vhost_loglevel) }}
    ErrorLog {{ site.errorlog | default(apache2_vhost_errorlog) }}
    CustomLog {{ site.accesslog | default(apache2_vhost_accesslog) }}

    SSLEngine on
{% if certfile_exists and keyfile_exists %}
    SSLCertificateFile      {{ site.tls_certfile | default(apache2_tls_certfile) }}
    SSLCertificateKeyFile   {{ site.tls_keyfile | default(apache2_tls_keyfile) }}
{% else %}
    SSLCertificateFile      {{ apache2_tls_noacme_fallback_certfile }}
    SSLCertificateKeyFile   {{ apache2_tls_noacme_fallback_keyfile }}
{% endif %}

    DocumentRoot {{ site.documentroot | default(apache2_vhost_documentroot) }}

    {{ site.additional_config | indent(4) }}

</VirtualHost>
{% endif %}
